body {
  background-color: #0F111A;
  margin: 0;
  width: 100%;
  color: #8F93A2;
  font-family: 'montserrat';
}

#colorBar {
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#container {
  height: calc(100vh - 50px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#stats {
  margin-bottom: 40px;
  font-size: 180%;
}

.square {
  height: 20px;
  width: 20px;
  margin: 15px 12px;
}

#colors {
  height: 60px;
  font-size: 140%;
}

#grid {
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

#bottomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#turn {
  padding-top: 50px;
  height: 50px;
  text-align: center;
}

#reloadButton {
  /* background: #202331; */
  border: 0;
  color: #eee;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  transition: .25s;
}
#reloadButton:hover {
  color: #8f93a2;
}

.gridCell {
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 220%;
}

.grid {
  padding-top: 50px;
}